.container-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

#title {
    font-size: 48px;
    font-weight: 300;
    margin-bottom: -10px;
    margin-top: 0px;
    font-family: 'Poiret One';
}

#subtitle {
    margin-top: 0px;
    font-weight: 24px;
    font-weight: 500;
}

img {
    width: 96px;
    margin-bottom: 0px;
}