.container-radiogroup {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 600;
}

#title-radiogroup {
    margin-bottom: 0px;
}
#title-radiogroup::first-letter {
    text-transform:uppercase;
}

#container-radio {
    display: flex;
    align-items: center;
}

#container-radio > label {
    margin-right: 15px;
}